<section class="container-fluid">
      <div class="row main" style="padding-bottom:137px;">
        <div class="col-md-12">

          <h1>404</h1>
          <h2><i class="fa fa-frown-o" aria-hidden="true"></i> Oh! The page cannot be found...</h2>
          <h3>The link might be incorect...</h3>
          <h4>or the page was deleted</h4>
          <div class="text-center">
              <a href="#" routerLink="/" class="btn" style="background-color: #1f28cd; color: white;">Go to home page</a>

          </div>
        </div>
      </div>
    </section>
