

<div class="plummaintop py-3">
<div class="container">

    <div class="row">

<div class="col-md-6">
<div class="plumtexttop">

<h5>PLUMBERS</h5>
<h1><i class="fa-solid fa-quote-left"></i> Best plumbing & repair solutions with quality work <i class="fa-solid fa-quote-right"></i></h1>

</div>


</div>

<div class="col-md-6">

<div class="plumimgtop">

<img src="images/plumber.png" >

</div>


</div>





</div>

</div>



</div>




<!-- services start -->

<section class="container-fluid services-main my-5">
    <h1 class="text-primary poppins-regular fw-bold text-center" data-aos="fade-up">OUR SERVICES</h1>


    <!-- services end -->
    <!-- what we do -->
    <div class="py-5">
        <div class="container py-5">

            <div class="row g-4">
                <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/faucet.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">faucet & Leak repairs</h5>

                            
                        </div>
                    </div>



                </div>
             
            <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/remodeling.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Remodeling Service</h5>

                            
                        </div>
                    </div>



                </div>
             
             
  <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/draincleaning.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Drain cleaning & Repairs</h5>

                            
                        </div>
                    </div>



                </div>


<div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/sewercleaning.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Sewer Repair & Cleaning</h5>

                            
                        </div>
                    </div>



                </div>



<div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/waterlinerepair.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Water line repair</h5>

                            
                        </div>
                    </div>



                </div>

<div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/gaslineservice.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Gas line Services</h5>

                            
                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</section>
<!-- what we do end  -->
<div class="container">
<div class="plumbottom">

<div class="row">

<div class="col-md-6 ">

<div class="img-box">

 <img src="images/plum5.jpg" class="card-img-top">


</div>

</div>
<div class="col-md-6">

<div class="plumbottomtext">
<h5>Our experience</h5>    
<h1>We focus on customer satisfaction and quality</h1>

</div>

</div>
</div>

</div>
</div>