<section class="container-fluid about-banner d-flex justify-content-center align-items-center">



    <h1 class="poppins-regular text-white">#ABOUT OUR COMPANY</h1>








</section>

<main>
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        

                            <h3 class="fw-bold pb-2" >Why choose us?</h3>
                     
                        <p>Cutting-Edge Technology
                            We leverage the latest innovations to deliver future-ready solutions that keep you ahead of
                            the competition.

                            Proven Expertise
                            Our team of experienced engineers and strategists has successfully executed projects across
                            industries, from startups to enterprise clients.

                            Tailored Solutions
                            We don’t believe in one-size-fits-all. Every solution is customized to your unique business
                            goals and technical requirements.

                            Scalable & Secure
                            Built with growth and security in mind, our solutions evolve with your business while
                            keeping your data protected.

                            Customer-Centric Approach
                            We collaborate closely with you at every stage, ensuring clarity, transparency, and results
                            that exceed expectations.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div >
                    <div class="aos-item__inner" data-aos="fade-left">


                        <img title="" class="rounded hvr-shadow w-100" src="images/chooseus.jpg" alt="">


                    </div>
                </div>
            </div>
        </div>
    </div>




 




<div class="container">
<div class="row">
    <h2 class="fw-bold pb-5">What people say?</h2>
<div class="col-md-4 peoplebox">
<div class="img-box">
 <img src="images/test1.jpg">
</div>
<div class="text-box">
<p><i class="fa-solid fa-quote-left pe-2 fs-1"></i>Working with this
                            team was a game-changer. They delivered a robust solution that not only met but exceeded our
                            expectations</p>

</div>




</div>

<div class="col-md-4 peoplebox">
<div class="img-box">
 <img  src="images/test2.jpg">
</div>
<div class="text-box">
<p><i class="fa-solid fa-quote-left pe-2 fs-1"></i>Professional,
                            responsive, and highly skilled. They understood our challenges and built a product that
                            truly solved them</p>

</div>




</div>



<div class="col-md-4 peoplebox">
<div class="img-box">
 <img src="images/test3.jpg">
</div>
<div class="text-box">
<p><i class="fa-solid fa-quote-left pe-2 fs-1"></i>From strategy to
                            execution, everything was smooth and transparent. We finally feel confident in our
                            tech.</p>

</div>




</div>




</div>
</div>



































   
    <div class="py-5">
        <div class="container py-5">
            <h2 class="fw-bold pb-5">Our expert teams</h2>
            <div class="row g-4">
                <div class="col-md-6 col-xl-3 col-sm-12">
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="aos-item__inner">
                            <div class="card text-center border border-0 shadow-sm">

                                <img src="images/img1.jpg" style="width: 100%;height: 320px;" class="card-img-top">
                                <div class="card-body">
                                   
                                    <small>Web Development</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 col-sm-12">
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="aos-item__inner">
                            <div class="card text-center border border-0 shadow-sm">
                                <img src="images/img2.jpg" style="width: 100%;height: 320px;" class="card-img-top">
                                <div class="card-body">
                                   
                                    <small>Digital Marketing</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 col-sm-12">
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="600">
                        <div class="aos-item__inner">
                            <div class="card text-center border border-0 shadow-sm">
                                 <img src="images/picture1.jpg" style="width: 100%;height: 320px;" class="card-img-top">
                                <div class="card-body">
                                 
                                    <small>App Development</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 col-sm-12">
                    <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
                        <div class="aos-item__inner">
                            <div class="card text-center border border-0 shadow-sm">
                                  <img src="images/picture2.webp" style="width: 100%;height: 320px;" class="card-img-top">
                                <div class="card-body">
                                 
                                    <small>UI/UX Designer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>