<section class="container-fluid services d-flex justify-content-center align-items-center">



    <h1 class="poppins-regular text-white aos-animate" data-aos="fade-up" >#WE OFFER MULTIPLE SERVICES</h1>








</section>








<!-- what we do -->
<div class="py-3">
    <div class="container py-5">
        <h2 class="fw-bold pb-5 text-center">What We Do</h2>
        
        <div class="row g-4">
            <div class="col-md-6 col-xl-3 col-sm-12">
                 <a routerLink="technology">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">

                            <img src="images/technology.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4>Technology Services</h4>

                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-6 col-xl-3 col-sm-12">
                 <a routerLink="hospitality">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">

                            <img src="images/hospitality.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4>Hospitality</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-6 col-xl-3 col-sm-12">
                 <a routerLink="logistics">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="600">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">

                            <img src="images/logistic.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4>Logistics</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-6 col-xl-3 col-sm-12">
                 <a routerLink="realestate">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">

                            <img src="images/realestate.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4>Real Estate</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-3 col-sm-12">
                 <a routerLink="manpower">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="600">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">

                            <img src="images/manpower.jpg" class="card-img-top">
                            <div class="card-body">
                                <h4>Manpower Services</h4>


                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>

     <div class="col-md-6 col-xl-3 col-sm-12">
          <a routerLink="plumbers">
                <div class="aos-item" data-aos="fade-up" data-aos-delay="600">
                    <div class="aos-item__inner">
                        <div class="card text-center border border-0 shadow-sm">
                        

                              <img src="images/plumber.webp" class="card-img-top">
                              <div class="card-body">
                                  <h4>Plumbing Services</h4>
                                  
                                  
                                </div>
                            
                        </div>
                    </div>
                </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- what we do end  -->