
<section class="container-fluid technology d-flex justify-content-center align-items-center">



    <h1 class="poppins-regular text-white">TECHNOLOGY SERVICES</h1>








</section>



<!-- services start -->

<section class="container-fluid services-main pt-3">
  
  <h1 class="poppins-regular text-center" data-aos="fade-up">WE OFFER DIFFERENT <br><span>TYPES OF SERVICES</span></h1>
  <div class="row p-5">
    
<div class="col-md-3 pt-2 pb-3 "><div class="card" style="width:100%; " data-aos="fade-up">
  <img src="images/website.png" class="card-img-top" style="width: 100%;height: 200px;">
  <div class="card-body">
    <h5>WEB DESIGN</h5>
    <p class="card-text">Web design is the process of planning, conceptualizing, and arranging content intended for the internet. It encompasses several aspects including layout, color scheme, typography, imagery, and overall visual appearance</p>
  </div>
</div></div>

<div class="col-md-3 pt-2  "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/social.png" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>SOCIAL MEDIA DEVELOPMENT AND  MANAGEMENT</h5>
    <p class="card-text">Social Apps Management refers to the systematic approach to handling and optimizing the use of social media platforms for personal, business, or organizational purposes.</p>
  </div>
</div></div>




<div class="col-md-3 pt-2 "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/database.png" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>DATABASE SYSTEM DESIGN</h5>
    <p class="card-text">Database System Design refers to the structured process of creating a database system that efficiently stores, manages, and retrieves data., with the goal of creating a site that is aesthetically pleasing, user-friendly, and functional.</p>
  </div>
</div></div>



<div class="col-md-3 pt-2  "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/infra.png" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>IT INFRASTRUCTURE</h5>
    <p class="card-text">IT infrastructure refers to the composite hardware, software, network resources, and services required for the existence, operation, and management of an enterprise IT environment. foundation for delivering IT services an. </p>
  </div>
</div></div>


<div class="col-md-3 pt-2 "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/dataclassifications.webp" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>DATA CLASSIFICATION & ANALAYSIS SERVICES</h5>
    <p class="card-text">
      Data Classification & Analysis Services involve organizing, categorizing, and examining data to extract meaningful insights and support decision-making processes</p>
  </div>
</div></div>



<div class="col-md-3 pt-2  "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/dataentry.webp" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>DATA ENTRY SERVICES</h5>
    <p class="card-text">Data Entry Services refer to the process of inputting, updating, and managing data within a database or other digital system.Manually or automatically entering data from various sources such as paper documents, forms, images, or digital files.</p>
  </div>
</div></div>




<div class="col-md-3 pt-2 "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/network.png" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>IT NETWORK SERVICES</h5>
    <p class="card-text">IT Network Services refer to the range of services involved in designing, implementing, managing, and maintaining computer networks within an organization.These services ensure that the network infrastructure is reliable</p>
  </div>
</div></div>


<div class="col-md-3 pt-2  "><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/datacenter.webp" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>CLOUD SERVICES AND DATA CENTERS PROVIDERS</h5>
    <p class="card-text">Cloud Services and Data Centers Providers offer a range of solutions for hosting, managing, and delivering computing resources over the internet Cloud services providers </p>
  </div>
</div></div>

<div class="col-md-3 pt-2"><div class="card" style="width:100%;" data-aos="fade-up">
  <img src="images/hostingo.png" class="card-img-top" style="width: 100%;height: 200px;" >
  <div class="card-body">
    <h5>COMPUTER SYSTEM HOUSING SERVICES</h5>
    <p class="card-text">Computer Systems Housing Services, also known as Data Center Services or Colocation Services, involve providing a secure and controlled environment for hosting computer systems </p>
  </div>
</div></div>



    </div>

</section>



<!-- services end -->








