

<footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-md-3 logofooter">
                            <img src="images/logo amazing stars.png">
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Important links</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#" routerLink="" >Home</a></li>
                                    <li><a href="#" routerLink="/aboutus">About US</a></li>
                                    <li><a href="#"  routerLink="/services">Services</a></li>
                                     <li><a href="#"  routerLink="/contactus">Contact US</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Services</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a routerLink="/plumbers">Plumbing Services</a></li>
                                     <li><a routerLink="/technology">Technology Services</a></li>
                                      <li><a routerLink="/manpower">Manpower Services</a></li>
                                       <li><a routerLink="/logistics">Logistics Services</a></li>
                                       <li><a routerLink="/hospitality">Hospitality Services</a></li>
                                        <li><a routerLink="/realestate">Real estate</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Social Media</h3>
                                <div class="f_social_icon">
                                    <a href="#" class="fab fa-facebook"></a>
                                    <a href="#" class="fab fa-twitter"></a>
                                    <a href="#" class="fab fa-linkedin"></a>
                                    <a href="#" class="fab fa-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400 fs-5">©Amazing Stars  All rights reserved.</p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>