<div class="plummaintop py-3">
<div class="container">

    <div class="row">

<div class="col-md-4">
<div class="plumtexttop">

<h1>LOGISTICS</h1>
<h3><i class="fa-solid fa-quote-left"></i> Specializing in international transport, logistics, and freight forwarding, we connect continents with precision, ensuring seamless and efficient global delivery solutions. <i class="fa-solid fa-quote-right"></i></h3>

</div>


</div>

<div class="col-md-7">

<div class="plumimgtop">

<img src="images/Logisticpage.png" >

</div>


</div>





</div>

</div>



</div>


<!-- services start -->

<section class="container-fluid services-main my-5">
    <h1 class="text-primary poppins-regular fw-bold text-center" data-aos="fade-up">Our core competencies lie in the four pillars</h1>


    <!-- services end -->
    <!-- what we do -->
    <div class="py-5">
        <div class="container py-5">

            <div class="row g-4">
                <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/logistic1.png" class="card-img-top">
                        
                    </div>



                </div>
             
            <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/logistic2.png" class="card-img-top">
                        
                    </div>



                </div>
             
             
  <div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/logistic3.png" class="card-img-top">
                       
                    </div>



                </div>


<div class="col-md-6 col-xl-3 col-sm-12">

                    <div class="card" style="width:100%;">
                        <img src="images/logistic4.png" class="card-img-top">
                        
                    </div>



                </div>









            </div>
        </div>
    </div>
</section>
<!-- what we do end  -->
<div class="container">
<div class="plumbottom">

<div class="row">

<div class="col-md-6 ">

<div class="img-box">

 <img src="images/logistic5.png" class="card-img-top">


</div>

</div>
<div class="col-md-6">

<div class="plumbottomtext">
<h5>Our experience</h5>    
<h1>Your Bridge to Global Delivery</h1>

</div>

</div>
</div>

</div>
</div>