
<section class="container-fluid services d-flex justify-content-center align-items-center">



    <h1 class="poppins-regular text-white ">#Contact Us</h1>








</section>




<section style="padding-top: 80px;padding-bottom: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8  mb-3">
        <h3>Contact Form</h3>
        <div>
          <form id="frm" action="#" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" style="border-color:#6610f2;" name="name" required
                aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Subject</label>
              <input type="text" class="form-control" name="subject" style="border-color:#6610f2;" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone" style="border-color:#6610f2;" id="exampleInputEmail1" required
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" style="border-color:#6610f2;" name="email" id="exampleInputEmail1" required
                aria-describedby="emailHelp">
            
            </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
           <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" required style="border-color:#6610f2;">Welcome to amazingstar....</textarea>
               </div>
            <br>
            <button type="submit" class="btn text-white" style="background-color:#6610f2;">Submit</button>
          </form>
        </div>
      </div>

<div class="col-md-4  mb-3 contact-box">
<h4>CONTACT DETAILS</h4>
<p>Please find below contact details and contact us today!</p>
 
 <p><i class="fa-solid fa-location-dot"></i> USA</p>
  <p><i class="fa-solid fa-phone"></i> </p>
  <p><i class="fa-solid fa-envelope"></i> </p>
 <p><i class="fa-solid fa-clock"></i> 8:00 a.m - 9:00 p.m UST</p>
</div>


    </div>
  </div>
</section>